.form {
    width: auto;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.explanation {
    width: 100%;
}

.add-snippet-modal {
    width: 50%;
    height: 50%;
}

