@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-size: 1em;
}

#hamburger-menu-placeholder {
    /* padding-left: 30px; */
    height: 30px;
    width: 30px;
}


.h5 {
    /* background-color: aqua; */
    /* border: 2px white solid; */
    font-size: 1em!important;
}

.darkModeIcon {
    height: 48px;
    width: 48px;
}

.lightModeIcon {
    height: 48px;
    width: 48px;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .offcanvas-body {
    background-color: #313A3C;
    color: white;
  }

.menu-and-site-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Roboto', sans-serif;;
}

.hamburger-menu-wrapper {
    cursor: pointer;
}

.site-title {
margin: auto;
font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: skyblue;
    text-decoration: none;
}

.btn-close {
    color: white!important;
}

.offcanvas-header {
    background-color: #313A3C;
    color: white;
    /* font-size: 2rem; */
    font-size: 2em;
}

li {
    text-decoration: none;
}


.close-button offcanvas-header {
    font-size: 1em;
}







