.snippetCardContainer {
    display: flex;
}

h1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
}

#welcome-message {
    /* color: blue; */
    text-align: left;
    /* border: 2rem solid; */
    font-family: "Splash", cursive;
    border: 2px dotted red;
    padding: 2rem 2rem 2rem 2rem;
    margin: 3rem;
    width: 40ch;
}