h1 {
    justify-content: center;
}

.snippet-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* border: blue dotted 2px; */
    margin: 1.5em;
    padding: 1.5em;
    /* justify-content: center; */
}