#search-bar {
    margin: 5px;
}

#search-bar-div {
    align-items: center;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.add-snippet-button:hover {
    background-color: white;
    color: black;
    border-radius: 4px;
}

.add-snippet-button {
    border-radius: 4px;
}

#add-snippet-button {
    background-color: #313A3C;
    border: none;
    color: white;
}

#add-snippet-button:hover {
    box-shadow: 0px 0px 11px #000000;
    background: skyblue;
    color: black;
}

/* -------------------------------Dark Mode---------------------------- */

.header-dark {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #313A3C;
}

#add-snippet-button-dark {
    background-color: lightgray;
    border: none;
    color: black
}

#add-snippet-button-dark:hover {
    background-color: skyblue;
    border: none;
    color: black
}