#search-bar {
    margin: 5px;
}

#search-bar-div {
    align-items: center;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.add-snippet-button:hover {
    background: skyblue;
    color: black;
    border-radius: 4px;
}

.add-snippet-button {
    border-radius: 4px;
}