@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} */

/* .site-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
} */


.app {
  font-family: 'Roboto', sans-serif;
}

.form {
  display: flex;
  justify-self: center;
}

